[Unit]
After=docker.service
After=install-weave.service
Requires=docker.service
Requires=install-weave.service
Description=Weave Net Router
Documentation=http://docs.weave.works/
[Service]
TimeoutStartSec=0
EnvironmentFile=-/etc/kubernetes-anywhere.env
ExecStartPre=/usr/local/bin/weave launch-router $WEAVE_ARGS $WEAVE_INIT_PEER_COUNT $WEAVE_KNOWN_PEERS
ExecStart=/usr/bin/docker attach weave
Restart=on-failure
ExecStop=/usr/local/bin/weave stop-router
[Install]
WantedBy=weave-network.target
