[Unit]
After=docker.service
After=install-weave.service
Requires=docker.service
Requires=install-weave.service
Description=Weave Net plugin for Docker Network and CNI
Documentation=http://docs.weave.works/
[Service]
EnvironmentFile=-/etc/kubernetes-anywhere.env
ExecStartPre=/usr/local/bin/weave launch-plugin $WEAVEPLUGIN_ARGS
ExecStart=/usr/bin/docker attach weaveplugin
Restart=on-failure
ExecStop=/usr/local/bin/weave stop-plugin
[Install]
WantedBy=weave-network.target
