[Unit]
Description=Kubernetes Cluster Node
Documentation=http://kubernetes.io/
RefuseManualStart=no
After=weave-network.target
Requires=weave-network.target
Wants=kube-proxy.service
Wants=kubelet.service
[Install]
WantedBy=multi-user.target
