[Unit]
Description=Kubernetes Kubelet Server
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStartPre=/bin/mkdir -p /var/lib/kubelet
ExecStartPre=/bin/mount --bind /var/lib/kubelet /var/lib/kubelet
ExecStartPre=/bin/mount --make-shared /var/lib/kubelet
ExecStart=/usr/bin/docker run \
        --net=host \
        --pid=host \
        --privileged \
        -v /dev:/dev \
        -v /sys:/sys:ro \
        -v /var/run:/var/run:rw \
        -v /var/lib/docker/:/var/lib/docker:rw \
        -v /var/lib/kubelet/:/var/lib/kubelet:shared \
        -v /var/log/containers:/var/log/containers:rw \
        -v /srv/kubernetes:/srv/kubernetes:ro \
        -v /etc/kubernetes:/etc/kubernetes:ro \
        {{ phase2['docker_registry'] }}/hyperkube-amd64:{{ phase2['kubernetes_version'] }} \
        /hyperkube kubelet \
            --address=0.0.0.0 \
            --allow-privileged=true \
            --cloud-provider={{ phase1['cloud_provider'] }} \
{% if phase1['cloud_provider'] == "azure" %}
            --cloud-config="/etc/kubernetes/azure.json" \
{% endif %}
            --enable-server \
            --register-schedulable={{ role == "node" }} \
            --enable-debugging-handlers \
            --api-servers=https://{{ master_ip }} \
            --kubeconfig=/srv/kubernetes/kubeconfig.json \
            --config=/etc/kubernetes/manifests \
{% if role == "node" %}
            --hairpin-mode=promiscuous-bridge \
            --network-plugin=kubenet \
            --reconcile-cidr \
{% endif %}
            --cluster-dns=10.0.0.10 \
            --cluster-domain=cluster.local \
            --v=2
Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target
