menu "vSphere configuration"

config phase1.vSphere.url
	string "vCenter URL Ex: 10.192.10.30 or myvcenter.io (without https://)"
	help
		The vCenter Url

config phase1.vSphere.port
	string "vCenter port"
	default 443
	help
		The vCenter port

config phase1.vSphere.username
	string "vCenter username"
	help
		The vCenter Username

config phase1.vSphere.password
	string "vCenter password"
	help
		The vCenter password

config phase1.vSphere.insecure
	string "Does host use self-signed cert"
	default true
	help
		If the host uses a self-signed cert.

config phase1.vSphere.datacenter
	string "Datacenter"
	default "datacenter"
	help
		The datacenter to be used by vSphere cloud provider plugin. Use vCenter UI or ```govc datacenter.info```

config phase1.vSphere.datastore
	string "Datastore"
	default "datastore"
	help
		The datastore where VMs will be created. This will also be used for provisioning volumes for storage classes.

config phase1.vSphere.resourcepool
        string "Specify a valid Cluster, Host or Resource Pool in which to deploy Kubernetes VMs."
        default ""
        help
		Specify a valid Cluster, Host or Resource Pool in which to deploy Kubernetes VMs.

config phase1.vSphere.vcpu
	string "Number of vCPUs for each VM"
	default "1"
	help
		Number of vcpu required for VM.


config phase1.vSphere.memory
	string "Memory for VM"
	default "2048"
	help
		Memory required for each VM.

config phase1.vSphere.template
	string "Name of the template VM imported from OVA"
	default "KubernetesAnywhereTemplatePhotonOS.ova"
	help
		Template to clone VMs from.

config phase1.vSphere.flannel_net
	string "Flannel Network"
	default "172.1.0.0/16"
	help
		 IP range used for flannel overlay network.

endmenu
