menu "vSphere configuration"

config phase1.vSphere.url
	string "vCenter URL Ex: 10.192.10.30 or myvcenter.io (without https://)"
	help
		The vCenter Url

config phase1.vSphere.port
	int "vCenter port"
	default 443
	help
		The vCenter port

config phase1.vSphere.username
	string "vCenter username"
	help
		The vCenter Username

config phase1.vSphere.password
	string "vCenter password"
	help
		The vCenter password

config phase1.vSphere.insecure
	bool "Does host use self-signed cert"
	default y
	help
		If the host uses a self-signed cert.

config phase1.vSphere.datacenter
	string "Datacenter"
	default "datacenter"
	help
		The datacenter to be used by vSphere cloud provider plugin. Use vCenter UI or ```govc datacenter.info```

config phase1.vSphere.datastore
	string "Datastore"
	default "datastore"
	help
		The datastore where VMs will be created. This will also be used for provisioning volumes for storage classes.

config phase1.vSphere.placement
	string "Deploy Kubernetes Cluster on 'host' or 'cluster'"
	default "cluster"
	help
		Select Where to deploy Kubernetes Cluster. On specific host or cluster

if phase1.vSphere.placement = "host"
	config phase1.vSphere.host
        string "host"
        default ""
        help
			Host where kubernetes cluster will be created.
endif

if phase1.vSphere.placement = "cluster"
	config phase1.vSphere.cluster
        string "vsphere cluster name. Please make sure that all the hosts in the cluster are time-synchronized otherwise some of the nodes can remain in pending state for ever due to expired certificate"
        default ""
        help
			vSphere cluster where kubernetes cluster will be created.
endif

config phase1.vSphere.useresourcepool
	string "Do you want to use the existing resource pool on the host or cluster? [yes, no]"
	default "no"
	help
		Deploy cluster on existing Resource Pool? Enter yes or no

if phase1.vSphere.useresourcepool = "yes"
	config phase1.vSphere.resourcepool
        string "Name of the existing Resource Pool. If Resource pool is enclosed within another Resource pool, specify pool hierarchy as ParentResourcePool/ChildResourcePool"
        default ""
        help
			Existing Resource Pool where kubernetes cluster will be deployed.
endif

config phase1.vSphere.vmfolderpath
	string "VM Folder name or Path (e.g kubernetes, VMFolder1/dev-cluster, VMFolder1/Test Group1/test-cluster). Folder path will be created if not present"
	default "kubernetes"
	help
		VM Folder Path where Node VMs should be placed.

config phase1.vSphere.vcpu
	int "Number of vCPUs for each VM"
	default 1
	help
		Number of vcpu required for VM.

config phase1.vSphere.memory
	int "Memory for VM"
	default 2048
	help
		Memory required for each VM.

config phase1.vSphere.network
	string "Network for VM"
	default "VM Network"
	help
		Network to use for each VM.

config phase1.vSphere.template
	string "Name of the template VM imported from OVA. If Template file is not available at the destination location specify vm path"
	default "KubernetesAnywhereTemplatePhotonOS.ova"
	help
		Template to clone VMs from.

config phase1.vSphere.flannel_net
	string "Flannel Network"
	default "172.1.0.0/16"
	help
		 IP range used for flannel overlay network.

endmenu
