[Unit]
After=network-online.target
After=docker.service
Before=weave.service
Requires=docker.service
Requires=network-online.target
Description=Install Weave
Documentation=http://docs.weave.works/
ConditionFileNotEmpty=!/usr/local/bin/weave
ConditionFileIsExecutable=!/usr/local/bin/weave
[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=0
EnvironmentFile=-/etc/kubernetes-anywhere.env
ExecStartPre=/usr/bin/curl \
  --silent \
  --location \
  $WEAVE_DOWNLOAD_URL \
  --output /usr/local/bin/weave
ExecStartPre=/bin/chmod +x /usr/local/bin/weave
ExecStart=/usr/local/bin/weave setup
[Install]
WantedBy=weave-network.target
WantedBy=weave.service
