[Unit]
Wants=weave-network.target
After=weave-network.target
Description=Kubernetes Proxy
Documentation=http://kubernetes.io/
[Service]
EnvironmentFile=-/etc/kubernetes-anywhere.env
ExecStartPre=/usr/local/bin/docker pull weaveworks/kubernetes-anywhere:proxy
ExecStartPre=-/usr/local/bin/docker rm -f kube-proxy
ExecStart=/usr/local/bin/docker run \
  --name=kube-proxy \
  --privileged=true --net=host --pid=host \
    weaveworks/kubernetes-anywhere:proxy
Restart=always
RestartSec=10
[Install]
WantedBy=kubernetes-node.target
