[Unit]
Wants=weave-network.target
After=weave-network.target
After=kube-apiserver.service
Description=Kubernetes Controller Manager
Documentation=http://kubernetes.io/
[Service]
EnvironmentFile=-/etc/kubernetes-anywhere.env
ExecStartPre=/usr/bin/docker pull weaveworks/kubernetes-anywhere:controller-manager
ExecStartPre=-/usr/bin/docker rm -f kube-controller-manager
ExecStart=/usr/bin/docker run \
  --env=CLOUD_PROVIDER \
  --name=kube-controller-manager \
    weaveworks/kubernetes-anywhere:controller-manager
Restart=always
RestartSec=10
[Install]
WantedBy=kubernetes-master.target
