
menu "Phase 1: Cluster Resource Provisioning"

config phase1.num_nodes
	int "number of nodes"
	default 3
	range 1 1000
	help
	  The number of nodes you would like to provision.

config phase1.cluster_name
	string "kubernetes cluster name"
	default "kubernetes"
	help
	  An identifier to use for this cluster.
	  This is used for compute instance names as a prefix,
	  and for naming any other cloud provider resources.

config phase1.ssh_user
	string "SSH user to login to OS for provisioning"
	default ""
	help
	  The username with which to login to the target OS via ssh.
	  This is optional, and is meant to override the default
	  behavior of using the current user's name.

menuconfig phase1.cloud_provider
	string "cloud provider: gce, vsphere or openstack"
	default "gce"
	help
	  The cloud provider you would like to deploy to.

if phase1.cloud_provider = "gce"
	source "phase1/gce/Kconfig"
endif

if phase1.cloud_provider = "vsphere"
	source "phase1/vsphere/Kconfig"
endif

if phase1.cloud_provider = "openstack"
	source "phase1/openstack/Kconfig"
endif

endmenu
