[Unit]
Description=Format Ephemeral Volume
Documentation=https://coreos.com/os/docs/latest/mounting-storage.html
Before=docker.service var-lib-docker.mount
After=dev-sdb.device
Requires=dev-sdb.device
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c -x "umount -f /mnt/resource || /bin/true"
ExecStart=/bin/bash -c -x "umount -A /dev/sdb1 || /bin/true"
ExecStart=/bin/bash -c -x "umount -A /dev/sdb || /bin/true"
ExecStart=/bin/bash -c -x "rm -rf /mnt/resource"
ExecStart=/bin/bash -c -x "wipefs -f /dev/sdb1 || true"
ExecStart=/bin/bash -c -x "mkfs.ext4 -F /dev/sdb"
[Install]
RequiredBy=var-lib-docker.mount
