[Unit]
Description=Weave Net Setup Complete
Documentation=man:systemd.special(7)
RefuseManualStart=no
After=network-online.target
After=weave.service
After=docker.service
[Install]
WantedBy=multi-user.target
WantedBy=kubernetes-master.target
WantedBy=kubernetes-node.target
