[Unit]
Description=Format Ephemeral Volume
Documentation=https://coreos.com/os/docs/latest/mounting-storage.html

[Service]
Type=oneshot
ExecStart=/bin/bash -c -x "umount -f /mnt/resource || /bin/true"
ExecStart=/bin/bash -c -x "umount -A /dev/sdb1 || /bin/true"
ExecStart=/bin/bash -c -x "umount -A /dev/sdb || /bin/true"
ExecStart=/bin/bash -c -x "rm -rf /mnt/resource"
ExecStart=/bin/bash -c -x "wipefs -f /dev/sdb1 || true"
ExecStart=/bin/bash -c -x "mkfs.ext4 -F /dev/sdb"

[Install]
WantedBy=multi-user.target
