[Unit]
Wants=weave-network.target
After=weave-network.target
Description=Kubernetes Proxy
Documentation=http://kubernetes.io/
[Service]
Environment=KUBERNETES_ANYWHERE_PROXY_IMAGE=weaveworks/kubernetes-anywhere:proxy
Environment=KUBERNETES_ANYWHERE_PROXY_SECURE_CONFIG_IMAGE=kubernetes-anywhere:proxy-secure-config
EnvironmentFile=-/etc/kubernetes-anywhere.env
ExecStartPre=/usr/bin/docker pull $KUBERNETES_ANYWHERE_PROXY_IMAGE
ExecStartPre=/usr/bin/docker pull $KUBERNETES_ANYWHERE_PROXY_SECURE_CONFIG_IMAGE
ExecStartPre=-/usr/bin/docker rm -f kube-proxy
ExecStartPre=-/usr/bin/docker rm -f kube-proxy-secure-config
ExecStartPre=-/usr/bin/docker run \
  --name=kube-proxy-secure-config \
    $KUBERNETES_ANYWHERE_PROXY_SECURE_CONFIG_IMAGE
ExecStart=/usr/bin/docker --host=unix:///var/run/weave/weave.sock run \
  --name=kube-proxy \
  --privileged=true --net=host --pid=host \
  --volumes-from=kube-proxy-secure-config \
    $KUBERNETES_ANYWHERE_PROXY_IMAGE
Restart=always
RestartSec=10
[Install]
WantedBy=kubernetes-node.target
