[Unit]
Wants=weave-network.target
After=weave-network.target
Description=Kubelet
Documentation=http://kubernetes.io/
[Service]
Environment=KUBERNETES_ANYWHERE_TOOLBOX_IMAGE=weaveworks/kubernetes-anywhere:toolbox
Environment=KUBERNETES_ANYWHERE_KUBELET_IMAGE=weaveworks/kubernetes-anywhere:kubelet
EnvironmentFile=-/etc/kubernetes-anywhere.env
ExecStartPre=/usr/bin/docker pull $KUBERNETES_ANYWHERE_TOOLBOX_IMAGE
ExecStartPre=/usr/bin/docker pull $KUBERNETES_ANYWHERE_KUBELET_IMAGE
ExecStartPre=-/usr/bin/docker rm -f kubelet
ExecStartPre=-/usr/bin/docker run \
  --volume="/:/rootfs" \
  --volume="/var/run/docker.sock:/docker.sock" \
  --env=KUBERNETES_ANYWHERE_TOOLBOX_IMAGE \
    $KUBERNETES_ANYWHERE_TOOLBOX_IMAGE \
      setup-kubelet-volumes
ExecStart=/usr/bin/docker --host=unix:///var/run/weave/weave.sock run \
  --env=CLOUD_PROVIDER \
  --env=AWS_LOCAL_HOSTNAME \
  --name=kubelet \
  --privileged=true --net=host --pid=host \
  --volumes-from=kubelet-volumes \
    $KUBERNETES_ANYWHERE_KUBELET_IMAGE
Restart=always
RestartSec=10
[Install]
WantedBy=kubernetes-node.target
