[Unit]
Description=Kubernetes Cluster Master
Documentation=http://kubernetes.io/
RefuseManualStart=no
After=weave-network.target
Requires=weave-network.target
Wants=kube-apiserver.service
Wants=kube-scheduler.service
Wants=kube-controller-manager.service
[Install]
WantedBy=multi-user.target
